<h1>Score</h1>
<strong><%= "Grid" %></strong>
<%= @letters %>
<br>
<br>
<strong><%= "User Suggestion" %></strong>
<%= @word %>
<br>
<br>
<strong><%= "Word in GRID ?" %></strong>
<%= @word_in_grid %>
<br>
<br>
<strong><%= "result from API" %></strong>
<%= @http_request %>
<br>
<br>
<%= @results %>
<br>
<br>
<%= link_to "Play again", new_path %>
